useDynLib(gmp)

exportPattern("^[^\\.]")

S3method(gcd,default)
#S3method(lcm,default)


S3method("+",bigz)
S3method("-",bigz)
S3method("*",bigz)
S3method("/",bigz)
S3method("%%",bigz)
S3method("%/%",bigz)
S3method("^",bigz)
S3method(">",bigz)
S3method("<",bigz)
S3method(">=",bigz)
S3method("<=",bigz)
S3method("==",bigz)
S3method("!=",bigz)
##S3method(add,bigz)
S3method(pow,bigz)
S3method(gcd,bigz)
#S3method(lcm,bigz)
S3method(inv,bigz)
S3method(log,bigz)
S3method(abs,bigz)
S3method(c,bigz)
S3method(cbind,bigz)
S3method(rbind,bigz)
S3method(rep,bigz)
S3method(print,bigz)
##S3method(urand,bigz)
#S3method(as,bigz)
S3method(as.matrix,bigz)

S3method("+",bigq)
S3method("-",bigq)
S3method("*",bigq)
S3method("/",bigq)
S3method(">",bigq)
S3method("<",bigq)
S3method(">=",bigq)
S3method("<=",bigq)
S3method("==",bigq)
S3method("!=",bigq)
##S3method(add,bigq)
S3method(abs,bigq)
S3method(c,bigq)
S3method(cbind,bigq)
S3method(rbind,bigq)
S3method(rep,bigq)
S3method(print,bigq)
#S3method(as,bigq)

S3method("%*%",bigz)
S3method(t,bigz)

S3method(solve,bigq)
S3method(solve,bigz)



##importFrom(base,"%*%")
##importMethodsFrom(methods,"%*%")
